<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>Sistemas Operativos</title>
</head>
<body>
    <!-- Navbar -->
    <div class="row" id="contenedorGeneral">
        <div class="col-4">
          <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
            <h1>Creacion y terminacion de procesos</h1>
            <nav class="nav nav-pills flex-column">
              <a class="nav-link" href="#item-1">1. Informacion Principal</a>
              <nav class="nav nav-pills flex-column">
                <a class="nav-link ms-3 my-1" href="#item-1-1">Item 1-1</a>
              </nav>
              <a class="nav-link" href="#item-2">2. Creacion de procesos</a>
              <nav class="nav nav-pills flex-column">
                <a class="nav-link ms-3 my-1" href="#item-2-1">Item 2-1</a>
                <a class="nav-link ms-3 my-1" href="#item-2-2">Item 2-2</a>
              </nav>
              <a class="nav-link" href="#item-3">3. Terminacion de procesos</a>
              <nav class="nav nav-pills flex-column">
                <a class="nav-link ms-3 my-1" href="#item-3-1">Item 3-1</a>
              </nav>
            </nav>
          </nav>
        </div>
      
        <div class="col-8" id="contenedorSecundario">
          <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
            <div id="item-1">
              <h4>Item 1 <b>Informacion principal</b></h4>
                  <!-- Sección de Inicio -->
                    <section id="inicio" class="text-center">
                        <h1>Creación y Terminacion de Procesos</h1>
                        <p>La creación y terminación de procesos son dos procesos fundamentales en los sistemas operativos. La creación 
                            de procesos implica la iniciación de una instancia en ejecución de un programa, asignando los recursos 
                            necesarios para su funcionamiento. Este proceso puede generar procesos secundarios, conocidos como procesos 
                            hijos, que se ejecutan de manera concurrente con el proceso padre.</p>
                        <p>En contraste, la terminación de procesos marca el final de la ejecución de un proceso. Puede ocurrir de manera 
                            normal, cuando el programa completa su tarea, o de manera anormal, debido a errores o intervenciones externas. 
                            La terminación libera los recursos asociados al proceso, como memoria y archivos, para su reutilización.</p>
                        <p>Estos dos aspectos son esenciales en la gestión eficiente de los recursos del sistema y la optimización del 
                            rendimiento en entornos multitarea. Comprender la creación y terminación de procesos es fundamental para diseñar 
                            sistemas operativos robustos y para el desarrollo eficiente de software a nivel del sistema.</p>
                    </section>
            </div>
            <div id="item-1-1">
                <h5>Item 1-1  Carrusel de fotos</h5>
                <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <img src="../imagenes/estado1.png" class="d-block w-100" alt="Imagen de estado">
                    </div>
                    <div class="carousel-item" data-bs-interval="10000">
                        <img src="../imagenes/descriptor1.png" class="d-block w-100" alt="Imagen de descriptor">
                    </div>
                    <div class="carousel-item" data-bs-interval="10000">
                        <img src="../imagenes/creacion4.png" class="d-block w-100" alt="Imagen de creacion de estado">
                    </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                    </button>
                </div>
              </div>

            <div id="item-2">
                <h4>Item 2 <b>Creacion de procesos</b></h4>
                    <!-- Sección de Creación de Procesos -->
                        <section id="creacion">
                            <h2>Creación de Procesos</h2>
                            <p>Los Sistemas Operativos necesitan cierta forma  de crear y terminar procesos, según sea necesario durante la operación.</p>
                            <p><b>Hay 4 eventos principales  que provocan la creación de procesos:</b></p>
                            <ol>
                                <li>El arranque del sistema.</li>
                                <li>La ejecución, desde un proceso, de una llamada al sistema para creación de procesos.</li>
                                <li>Una petición de Usuario para crear un proceso.</li>
                                <li>El inicio de un trabajo por lotes.</li>
                            </ol>
                            <div class="row justify-content-center">
                            
                            </div>
                        </section>
              </div>
            <div id="item-2-1">
              <h5>Item 2-1 Card 1: Arranque y Card 2: Ejecucion</h5>
              <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col-md-6">
                    <div class="card">
                    <img src="../imagenes/creacion1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Evento 1: <b>Arranque del sistema</b></h5>
                    </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><b>En primer plano:</b> Es decir procesos que interactúan con los usuarios (humanos) y realizan trabajo para ellos.</li>
                            <li class="list-group-item"><b>En segundo Plano:</b> Son los que  no están asociados con usuarios sino con funciones específicas Ejemplo: manejar actividades 
                                como correo electrónico, para avisar que llega un correo entrante, aceptar peticiones entrantes de  páginas Web, noticias, impresiones etc. 
                                Estos se conocen como demonios (daemons).  
                                <ul>
                                    <li>Los sistemas grandes tiene   docenas de ellos.</li>
                                    <li>Verlos en Administrador de tareas</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                    <img src="../imagenes/creacion2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Evento 2: <b>Ejecucion desde un proceso en ejecución</b></h5>
                    </div>
                        <ul class="list-group">
                            <li class="list-group-item">Un proceso a menudo llama al sistema para crear uno o más procesos, para que le ayuden a realizar su trabajo.</li>
                            <li class="list-group-item">Ejemplo para obtener una gran cantidad de datos desde la red para su posterior  procesamiento:
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">1. Se creará un proceso para obtener datos  y colocarlos en un buffer compartido.</li>
                                    <li class="list-group-item">2. Mientras un segundo proceso remueve los datos del buffer y los procesa.</li>
                                </ul>
                            </li>
                            <li class="list-group-item">En un multiprocesador esto se realiza con mayor rapidez.</li>
                        </ul>
                    </div>
                </div>
              </div>
              
            </div>
            </div>
        
            <div id="item-2-2">
                <h5>Item 2-2 Card 3: Peticion y Card 4: Procesamiento</h5>
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    <div class="col-md-6 ">
                        <div class="card">
                        <img src="../imagenes/creacion3.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Evento 3: <b>Petición de un Usuario para crear un proceso</b></h5>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">	El usuario puede crear un proceso con un doble clic en un ícono.</li>
                          </ul>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="card">
                        <img src="../imagenes/creacion4.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Evento 4: <b>Procesamiento por lotes</b></h5>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">	Aplica a mainframes grandes.</li>
                            <li class="list-group-item">	Los usuarios pueden enviar trabajos de procesamiento por lotes al sistema, (posiblemente en forma remota).</li>
                            <li class="list-group-item">	El sistema operativo decide que tiene los recursos para ejecutar otro trabajo, crea el proceso y ejecuta el siguiente de la cola.</li>
                          </ul>
                        </div>
                    </div>
                </div>
                
              </div>
            
            <div id="item-3">
              <h4>Item 3 <b>Terminacion de procesos</b></h4>
                  <!-- Sección de Terminación de Procesos -->
                    <section id="terminacion">
                        <h2>Terminación de Procesos</h2>
                        <div class="alert alert-primary" role="alert">
                            <p>Una vez que se crea el proceso, comienza a ejecutarse y realiza el trabajo al que está destinado.</p>
                            <p><b>Las condiciones de término son:</b></p>
                        </div>
                    </section>
            </div>
            <div id="item-3-1">
              <h5>Item 3-1 Terminos</h5>
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            #1 Salida normal
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                            <b>Informacion</b>
                            <ol class="list-group list-group-numbered">
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">Salida 1</div>
                                    Exit Process, en windows.  Exit en Unix.
                                </div>
                                <span class="badge bg-primary rounded-pill">14</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">Salida 2</div>
                                    Procesadores de palabras, exploradores y otros, todos tienen un ícono para indicar que todos los archivos se cierren y termine.
                                </div>
                                <span class="badge bg-primary rounded-pill">24</span>
                                </li>
                            </ol>
                            </div>
                        </div>
                        </div>
                        <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                #2 Salida por error o error fatal
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                            <b>Informacion</b>
                            <ol class="list-group list-group-numbered">
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">Salida por error</div>
                                    Por ejemplo si el usuario escribe el comando para ejecutar el programa y no existe dicho archivo.
                                </div>
                                <span class="badge bg-primary rounded-pill">14</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">Error fatal</div>
                                    	Ejecución de una instrucción ilegal, hace referencia a una dirección de memoria que no existe.
                                </div>
                                <span class="badge bg-primary rounded-pill">24</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">Error fatal</div>
                                    	División por 0.
                                </div>
                                <span class="badge bg-primary rounded-pill">34</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                    <div class="ms-2 me-auto">
                                    <div class="fw-bold">Error fatal</div>
                                    	Algunos programas permiten tomar control de ese ese error y  no terminar el proceso.
                                    </div>
                                    <span class="badge bg-primary rounded-pill">44</span>
                                </li>
                            </ol>
                            </div>
                        </div>
                        </div>
                        <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                #3 Eliminado por otro proceso
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                            <b>Informacion</b>
                            <ol class="list-group list-group-numbered">
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">Variante 1</div>
                                    	Un proceso puede solicitar al SO que elimine otros procesos.
                                </div>
                                <span class="badge bg-primary rounded-pill">14</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">Variante 2</div>
                                    	Los procesos deberían tener la autorización necesaria, para realizar la eliminación.
                                </div>
                                <span class="badge bg-primary rounded-pill">14</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">Variante 3</div>
                                    	Cuando un proceso termina, todos los procesos creados se eliminan de inmediato también.
                                </div>
                                <span class="badge bg-primary rounded-pill">14</span>
                                </li>
                            </ol>
                            </div>
                        </div>
                        </div>
                    </div>
            </div>
        </div>
      </div>
<script>
$(document).ready(function () {
    $(".card").hover(
        function () {
            $(this).css({
                'transform': 'scale(1.1)',
                'transition': 'transform 0.3s',
                'z-index': '1',
            });
        },
        function () {
            $(this).css({
                'transform': 'scale(1)',
                'transition': 'transform 0.3s',
                'z-index': '0',
            });
        }
    );
});
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>
